/*============== Font Variables =======================*/
$font-primary: 'Abel', 'sans-serif';
$font-secondary: 'Alike Angular', 'serif';

/*============== Color Variables =======================*/
$rose: #f130f4;
$wisteria: #c69dd2;
$gray: #808080;
$white: #fff;

$color-primary: $rose;
$color-secondary: $gray;
$color-complement: $wisteria;
$color-highlight: $white;

/*============== Media Queries Variables =======================*/
$bp-medium: 768px;
$bp-large: 1024px;